// bootstrap import
@import '~bootstrap/scss/bootstrap.scss';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.fa-star{
    color: #FFD700;
}

// fontawesome import
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// google font import
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');