*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   font-family: 'The Nautigal', cursive;
}

.fa-star{
    color: #FFD700;
}


// bootstrap import
@import '~bootstrap/scss/bootstrap.scss';

// fontawesome import(DA RIVEDERE?)
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');